.contactContainer{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    background-color:#fff;
    padding: 4px;
    width: 30rem;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
p{
    
    margin: 0 10px ;
}
img{  
     width: 30px;
    height: 30px;
    border-radius: 50%;
 
}
.delete {
    
    background: #fff;
    border:1px solid rgb(247, 53, 53);
    color: rgb(247, 53, 53);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding:3px 7px;
}
.edit{
    
     background: #fff;
    border:1px solid rgb(127, 99, 248);
    color: rgb(127, 99, 248);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding:3px 7px;
    margin-right: 10px;
}